html,body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}


body {
    background-image: url('../Pics/Bus-BG.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /*background-color:#fff;*/
    -webkit-font-smoothing: antialiased;
    font: normal 14px Roboto,arial,sans-serif;
}

#Btn {
    background-color: #167fc3;
    border: 0;
    border-radius: 15px;
    color: #fff;
    font-weight: 500;
    padding: 5px 24px;
}

    #Btn:hover {
        background-color: #56abdb;
    }

#form1 {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: repeat(3,auto);
    grid-template-rows: auto auto 30%;
    grid-template-areas: ". . ." ". Box ." ". . .";
}

#Box {
    grid-area: Box;
    text-align: center;
    position: center;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    /*background-color: rgba(10,10,10,0.5);*/
}

.form-login {
    background-color: #EDEDED;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
    border-color: #d2d2d2;
    border-width: 5px;
    box-shadow: 0 1px 0 #cfcfcf;
}

h3 {
    color: #2C3E50;
    border: 0 solid #fff;
    border-bottom-width: 1px;
    padding-bottom: 10px;
    text-align: center;
}

.form-control {
    border-radius: 15px;
}

.wrapper {
    text-align: center;
    border-radius: 15px;
}
